body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: black;
    color: white;
    border-radius: 10px;
}


header {
    display: flex;
    font-size: 2.5rem;
    justify-content: center;
    padding : 5px 20px;
    border: 2px solid white;
    border-radius: 15px;
    background-color: #E50914;
    width: 700px;
    margin: 0 auto;
    text-align: center;
}
h1 {
    margin: 0;
}



.movie-list {
    list-style-type: none;
    padding: 0;
}

.botao {
    
        background-color: #000000; 
        color: #FFFFFF;
        border: none; 
        border-radius: 20px; 
        padding: 10px 20px; 
        font-size: 24px;        
        text-align: center; 
    
}

.movie-item {

    margin: 10px 0;
    display: flex;
    flex-direction:column;
    gap: 20px;
    background: #E50914;
    padding: 20px;
    border: 2px solid white;
    border-radius: 15px;
}
.movie-item2 {

    margin: 10px 0;
    height: 70%;
    width: 29%;
    display: flex;
    flex-direction:column;
    gap: 20px;
    background: #E50914;
    padding: 20px;
    border: 2px solid white;
    border-radius: 15px;
    align-items:center;
}


.movie-item h2 {
    margin-top: 0;
    text-align: center;
}
.movie-item2 h2 {
    margin-top: 0;
    text-align: center;
}


.movie-item p {
    margin: 5px 0 0;
}


.imagem-filme {
    margin-right: 30px;
    width: 450px;
    height: auto;
    border-radius: 10px; 
    padding: 30;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
}
.imagem-filme2 {
    margin-right: 30px;
    width: auto;
    height: 450px;
    border-radius: 10px; 
    padding: 30;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
}

div {
    display: flex ;
}

.icones {
    width: 70px;
    display: flex ;
    border-radius: 10px; 
}
.textogrande {
font-size:  20px;
font-weight: 500 ;

}

.painel{
    display: flex;
    flex-direction: row;
}
.imageminicial{
    margin-right: 30px;
    width: 450px;
    height: 280px;
    border-radius: 10px; 
    padding: 30;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);


}